@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&display=swap");
:root {
    --clr-primary: #251749;
    --clr-secondary: #263159;
    --clr-tertiary: #495579;
    --clr-quaternary: #fffbeb;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--clr-primary);
    color: var(--clr-quaternary);
    font-family: "Noto Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Zen Dots", cursive;
}

h1 {
    text-transform: uppercase;
    font-size: clamp(2rem, 4.5vw, 4.2rem);
}

h4 {
    font-size: clamp(1.5rem, 2.5vw, 2.3rem);
}

h5 {
    font-size: clamp(1.2rem, 2.5vw, 1.7rem);
}

nav {
    background-color: var(--clr-secondary);
}

a {
    color: var(--clr-quaternary);
}

.navbar-fixed {
    z-index: 1000;
}

nav ul a,
nav .brand-logo {
    color: var(--clr-quaternary);
    font-family: "Zen Dots";
}

.sidenav-trigger {
    position: relative;
    width: 50px;
}

.sidenav-trigger .bar {
    position: absolute;
    border-radius: 4px;
    border: 1px solid var(--clr-primary);
    height: 5px;
    width: 50px;
    background: var(--clr-quaternary);
}

.sidenav-trigger .bar-top {
    top: calc(50% - 12px);
}

.sidenav-trigger .bar-middle {
    top: 50%;
}

.sidenav-trigger .bar-bottom {
    top: calc(50% + 12px);
}

#index-banner h1.header {
    background-image: url("../img/background3.jpg");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(255, 255, 255, 0.4);
    background-position: center;
}

.carousel {
    height: 600px;
}

.carousel a.carousel-item {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: auto;
    min-height: 200px;
    min-width: 250px;
    background: var(--clr-secondary);
    color: var(--clr-quaternary);
    padding: 10px;
}

.carousel a.carousel-item h4 {
    text-align: center;
}

.carousel a.carousel-item img {
    border-radius: 10px;
}

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
    width: 100%;
}

@media only screen and (min-width: 993px) {
    .container-large {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

.mask-image {
    -webkit-mask-image: linear-gradient(black, transparent);
}

.card {
    background: var(--clr-secondary);
    border-radius: 10px;
}
.card .card-action:last-child {
    border-radius: 0 0 10px 10px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: var(--clr-quaternary);
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: var(--clr-tertiary);
}

footer.page-footer {
    margin: 0;
    background-color: var(--clr-tertiary);
}

footer.page-footer .footer-copyright {
    background-color: var(--clr-secondary);
}
